.setting {
  padding: 60px 30px;

  .login-out_btn {
    font-size: 32px;
    line-height: 88px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    height: 88px;
    border-radius: 44px;
    width: 100%;
    background-color: #ff9066;
  }
}